* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: var(--bg-body);
    overflow-x: hidden;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* background: yellow;; */
}

h1 {
    margin: 1rem;
}

.game {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(9, 1fr);    
}

.game input {
    text-align: center;
    width: 50px;
    height: 50px;
    border: none;
    border: 1px solid black;
    outline-width: 0;
    background: none;
}

.game input:nth-child(1){
    border-top: 4px solid black;
    border-left: 4px solid black;
}

.game input:nth-child(2),
.game input:nth-child(5),
.game input:nth-child(8){
    border-top: 4px solid black;    
}

.game input:nth-child(3),
.game input:nth-child(6){
    border-top: 4px solid black;
    border-right: 2px solid black;
}

.game input:nth-child(4),
.game input:nth-child(7){
    border-top: 4px solid black;    
    border-left: 2px solid black;    
}

.game input:nth-child(9){
    border-top: 4px solid black;
    border-right: 4px solid black;
}

.game input:nth-child(10),
.game input:nth-child(37),
.game input:nth-child(64){
    border-left: 4px solid black;    
}

.game input:nth-child(12),
.game input:nth-child(15),
.game input:nth-child(39),
.game input:nth-child(42),
.game input:nth-child(66),
.game input:nth-child(69){
    border-right: 2px solid black;    
}

.game input:nth-child(13),
.game input:nth-child(16),
.game input:nth-child(40),
.game input:nth-child(43),
.game input:nth-child(67),
.game input:nth-child(70){
    border-left: 2px solid black;    
}

.game input:nth-child(18),
.game input:nth-child(45),
.game input:nth-child(72){
    border-right: 4px solid black;    
}

.game input:nth-child(19),
.game input:nth-child(46){        
    border-left: 4px solid black;    
    border-bottom: 2px solid black;    
}

.game input:nth-child(20),
.game input:nth-child(23),
.game input:nth-child(26),
.game input:nth-child(47),
.game input:nth-child(50),
.game input:nth-child(53){
    border-bottom: 2px solid black;
}

.game input:nth-child(21),
.game input:nth-child(24),
.game input:nth-child(48),
.game input:nth-child(51){
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.game input:nth-child(22),
.game input:nth-child(25),
.game input:nth-child(49),
.game input:nth-child(52){
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.game input:nth-child(27),
.game input:nth-child(54){
    border-right: 4px solid black;
    border-bottom: 2px solid black;
}

.game input:nth-child(28),
.game input:nth-child(55){
    border-left: 4px solid black;
    border-top: 2px solid black;
}

.game input:nth-child(29),
.game input:nth-child(32),
.game input:nth-child(35),
.game input:nth-child(56),
.game input:nth-child(59),
.game input:nth-child(62){
    border-top: 2px solid black;
}

.game input:nth-child(30),
.game input:nth-child(33),
.game input:nth-child(57),
.game input:nth-child(60){
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.game input:nth-child(31),
.game input:nth-child(34),
.game input:nth-child(58),
.game input:nth-child(61){
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.game input:nth-child(36),
.game input:nth-child(63){
    border-top: 2px solid black;
    border-right: 4px solid black;
}

.game input:nth-child(73){
    border-left: 4px solid black;
    border-bottom: 4px solid black;
}

.game input:nth-child(74),
.game input:nth-child(77),
.game input:nth-child(80){
    border-bottom: 4px solid black;
}

.game input:nth-child(75),
.game input:nth-child(78){
    border-bottom: 4px solid black;
    border-right: 2px solid black;
}

.game input:nth-child(76),
.game input:nth-child(79){
    border-bottom: 4px solid black;
    border-left: 2px solid black;
}

.game input:nth-child(81){
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

