 .bodyOutput {
    font-size: 1.25rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
 }

 .task {
   padding: 5px;
   text-align: left;
   display: grid;
   grid-template-columns: 1fr 5fr 3fr 2fr 1fr;
   gap: 25px;
   cursor: default;
 }

 .task button {
   width: 20px;
   height: 20px;
   background-color: red;
   color: white;
   padding: 5px;
   border: 1px solid darkred;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .task button:hover,
 .task button:active {
    background-color: darkred;
 }

 .task:nth-child(even) {
  background-color: rgb(214, 214, 214);
 }

 .task.done .content {
  text-decoration: line-through;
 }

.id {
  margin-left: .5rem;
}
