#bodyInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#inputDate {
    width: 40%;
}

#inputTime {
    width: 40%;
}

input {

    width: 100%;
    height: 3rem;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
 }

 #add {
    height: 100%;
    padding: .615rem 2rem;
    font-size: 1.5rem;
 }

 #bodyOutput {
    margin-top: 2rem;
    font-size: 1.5rem;
 }

 #bodyOutput table {
    border-spacing: 3rem 0;
 }

 #bodyOutput table td button {
    background-color: red;
    color: white;
    padding: 5px;
    border: 1px solid darkred;
    border-radius: 5px;
 }

 #bodyOutput table td button:hover,
 #bodyOutput table td button:active {
    background-color: darkred;
 }
